pkgbase = lean-ctx
	pkgdesc = The Context Engineering Layer for AI Coding — 24 intelligent tools, 90+ shell patterns, persistent AI memory, multi-agent sharing, tree-sitter AST (19 languages). Supports 20 AI tools. Reduces AI costs by 60-99%.
	pkgver = 2.12.9
	pkgrel = 1
	url = https://leanctx.com
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = gcc
	depends = gcc-libs
	source = lean-ctx-2.12.9.crate::https://static.crates.io/crates/lean-ctx/lean-ctx-2.12.9.crate
	sha256sums = 1a235504ba2b38e4b7422e3901535b649ec766721104599236fe4ad56110607b

pkgname = lean-ctx
